<%= render template: "users/show" %>
<div class="col-md-6">
  <div class="panel panel-default sidebar-menu">
    <table id="users-data-table" class="table table-hover table-bordered">
      <thead>
      <tr class="header-table">
        <th class="text-center">
          <i class="fa fa-hashtag"></i>
          <%= t"admin.users.index.number" %>
        </th>
        <th class="text-center">
          <i class="fa fa-list-alt"></i>
          <%= t"lessons.show.lesson" %>
        </th>
        <th class="text-center">
          <i class="fa fa-list-alt"></i>
          <%= t"words.index.category" %>
        </th>
        <% if current_user == @user %>
          <th class="text-center">
            <i class="fa fa-cog"></i>
            <%= t"admin.users.index.status" %>
          </th>
        <% end %>
        <th class="text-center">
          <i class="fa fa-language"></i>
          <%= t".result" %>
        </th>
      </tr>
      </thead>
      <tbody id="result">
        <%= render @lessons %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @lessons, param_name: :lesson_page %>
</div>
<div class="col-md-3">
  <div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span><%= t".header_feed" %></span>
      </h3>
    </div>
    <ul class="list-group">
      <% @activities.each do |activity| %>
      <li><i class="fa fa-plus-circle"></i> <%= show_activities activity %></li>
      <% end %>
    </ul>
     <%= will_paginate @activities, param_name: :activity_page %>
  </div>

</div>
