<div class="row">
  <div class="col-md-12 text-center">
    <%= text_field_tag :search, params[:search], size: 40,
      placeholder: t("shared.search_form.holder"),
      class: "form-control" %>
    <%= select_tag :category_id, options_for_select(@categories.
      collect{|category| [category.name, category.id]},
      params[:category_id]), class: "form-control", include_blank: t("words.index.all") %>
    <%= select_tag :status, options_for_select(
      Settings.word.filters.map{|filter| [filter.humanize, filter]},
      params[:status]), class: "form-control" %>
    <%= button_tag type: "submit", class: "form-control btnSearch" do %>
      <i class="fa fa-search"></i>
      <%= t "shared.search_form.btn_submit" %>
    <% end %>
  </div>
</div>
