<div class="col-md-3 col-sm-12 menu-left">
  <div class="panel panel-default sidebar-menu">
    <div class="panel-heading" id="dashboard-title">
      <h3 class="panel-title"><%= t ".header" %></h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <button type="button" class="btn btn-success" data-toggle="modal"
            data-target="#import-modal"><i class="fa fa-language "></i>
              <%= t "admin.categories.show.import_panel" %>
          </button>
        </li>
        <li class="<%= active_class admin_categories_path %>">
          <%= link_to admin_categories_path do %>
            <i class="fa fa-list" ></i>
            <%= t ".categories" %>
          <% end %>
        </li>
        <li class="<%= active_class admin_root_path %>">
          <%= link_to admin_root_path do %>
            <i class="fa fa-users"></i>
            <%= t ".users" %>
          <% end %>
        </li>
      </ul>
      <div class="container">
        <div class="modal fade" id="import-modal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h4 class="modal-title head"><%= t ".import_file" %></h4>
              </div>
              <div class="modal-body">
                <%= form_tag admin_csv_index_path, multipart: true do %>
                  <%= file_field_tag :file %>
                  <%= submit_tag t(".import"), class: "btn btn-primary" %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                  data-dismiss="modal"><%= t ".add_close"%>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

