<nav class="navbar navbar-fixed-top navbar-default" id="menu">
  <div class="container-fluid">
  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo_framgia.png", id: "logo"), root_path %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="<%= active_class root_path %>"><a href="<%= root_path %>">
          <i class="fa fa-home fa-lg"></i> <%= t "home" %></a>
        </li>
        <li class="<%= active_class help_path %>"><a href="<%= help_path %>">
          <i class="fa fa-heartbeat fa-lg"></i> <%= t "help" %></a>
        </li>
        <li class="<%= active_class about_path %>"><a href="<%= about_path %>">
          <i class="fa fa-group fa-lg"></i> <%= t "about" %></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="<%= active_class users_path %>"><a href="<%= users_path %>">
            <i class="fa fa-list-alt  fa-lg"></i> <%= t ".users" %></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog fa-lg"></i> <%= t".account" %> <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
              <li><%= link_to t(".settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to t(".log_out"), logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li class="<%= active_class signup_path %>"><a href="<%= signup_path %>">
            <i class="fa fa-user-plus fa-lg"></i> <%= t "sign_up" %></a>
          </li>
          <li class="<%= active_class login_path %>"><a href="<%= login_path %>">
            <i class="fa fa-sign-in fa-lg"></i> <%= t "login" %></a>
          </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-globe fa-lg"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="<%= active_class_locale :en %>">
              <%= link_to_unless I18n.locale == :en, t("lang_en"), locale: :en %>
            </li>
            <li class="<%= active_class_locale :vn %>">
              <%= link_to_unless I18n.locale == :vn, t("lang_vn"), locale: :vn %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
